.new {
    border: 1px solid green;
}

.entry {
    border-bottom: 1px solid #ccc;
}

.entry time {
    float: right;
}

.entry .buttons {
    text-align: right;
    float: right;
}

.entry img {
    float: left;
}

.entry dl {
    margin-left: 150px;
}

.entry .delete-confirmation {
    display: none;
}
