.new {
    background-color: #ffd773;
}

#entries {
    max-width: 900px;
    margin: 0 auto;
}
.entry {
    padding: 6px;
    border-bottom: 1px solid #ccc;
}

.entry time {
    float: right;
}

.entry .buttons {
    text-align: right;
    float: right;
}

.entry img {
    float: left;
}

.entry dl {
    /*margin-left: 150px;*/
    float: left;

}

.entry img {
    float: left;
}

.entry .delete-confirmation {
    display: none;
}

.entry .clear {
    clear: both;
}


.auto-refresh {
    text-align: right;
}
#auto-refresh-enabled {
    color: #666;
}
#auto-refresh-stopped {
    display: none;
    color: red;
}

#edit-entry .picture {
    text-align: center;
}
/* Make the bootstrap form on the edit modal use a bit less padding */
#edit-entry .modal-body {
    padding: 5px 20px 0px 20px;
}
