.new {
    background-color: #ffd773;
}

.entry {
    padding: 6px;
    border-bottom: 1px solid #ccc;
}

.entry time {
    float: right;
}

.entry .buttons {
    text-align: right;
    float: right;
}

.entry img {
    float: left;
}

.entry dl {
    /*margin-left: 150px;*/
    float: left;

}

.entry img {
    float: left;
}

.entry .delete-confirmation {
    display: none;
}

.entry .clear {
    clear: both;
}
