# sha256: qyLRMiCZCYcwpX_VnWEPYHOPlaHLaNrMotHEfLDL6O4
# sha256: gRBAtkfl1WhvhNtBXv1pfmJQAIsRK2kJunesBZ4UDHQ
MySQL-python==1.2.5
# sha256: NJ-T46SwnMWUGIVKuAE9An0kZ1fFF0S_IAabyJAW9Xg
# sha256: hijMgpV8Qb4Qq86Imhl2zre54_Nuv_pPyxqAkBv3etw
# sha256: HJwmu2wxw9WzwQToQyEdnBBdtgtN9ncKxCZzJj1V1JQ
# sha256: AeVFEQNDM_GHcsM17Aszp2u6mIE16vcnoHWJeGbRlgQ
# sha256: Kr9srJt5UgR9i3JlOEqVZeQZpyfbpnXoPkt_W3iStrs
# sha256: bf-QkCDQwDD7JgBGJsj4f5EW4DgXAv7UFcr5T1qblJM
lxml==3.5.0
# sha256: HMA-8ytkvhngpbVFeN15CQajSUP-kQLP2uDUSVvVNrQ
# sha256: vB_y_4jb-s795N3eRx0UF9OzBOjfEDp6lDfUcmkgG_Q
Jinja2==2.8
# sha256: J1_RrAJeUUwQ4Cg9PkftbdKij4Trd9bnuh-1EXBQIk4
# sha256: R_7vUR6P5dZusY_CMsTYRehs1GmkYSGVnNs0zsUcTJU
# sha256: Mdyfoop9na3_RhDCqUT2ViiHvgWfaiiXDYVQAJ83Z8Q
# sha256: Tu4esYVw4q-rhPmX8FYX3AVglWQNxJnSWFkt4fFuANo
# sha256: TAespX4XZBmTjR1SCPNR4hEUv9N7dbdVE2M2JYSuSU8
# sha256: dALnOogllHhj-wGrXPIHM2EL-pnPaE8rJlGc4ICsdFg
# sha256: ZqN1esQUIyAE_GBWhL_9xF0jTp5OnoQKYel4Cm65r8M
# sha256: XPdXbhQhlfbXal__4VGGpm2EV_bGBEFfLeCzJnYoNQ0
# sha256: Xw1dYO13FfKEFfHDGBdW6iqGas3uXDzTd_7JjKCvmGc
# sha256: hcfoJCvagPR5mCbDuF7dELA8Xf4ZyQ2ZX_N6ZNCofyo
# sha256: 4KVyAFjTcMXCkOE735ULcq8j_iVJVHKshqgzbaWlleU
# sha256: QYUOoFRjM29vrYmEHDOHqh8Bqlt2rDdnJOTzb21U2Gw
# sha256: 6o6hwyP18ef-IUuY7BJeNx5ibB6wbPe7BsDjaq2uHdQ
# sha256: RnIdZChX-D82sQXTJWr1wq0nFPoIr7gKkbUV6siWPpA
# sha256: B4SfjQjD9H3XdZ7VsKBw5t6KLO9Hrjw5-U0Hb8rQKHU
# sha256: C54x6fRHHveTHnSmFNHN7OoOvdb7XghYJt63bXsPQfc
# sha256: _cz1mruYoDNoWq3C4OY5icOnpeOpEAb2doSFC7JNj3s
# sha256: 1Kok_VsqzEo6RJ4Vno5nVNam2s3vPylvuIgtF5PNDiU
# sha256: t_7EQOoObaeAmIxC6QOq08w5DGp4xKJU1sC0FviQI0w
# sha256: Vyj9jUYK-2V1hoZ90zCWol9KMkKdEbBpCZToZCAzx34
# sha256: fDeIG23-HRCDuq-Z4RkEHffSosKE-eeIDlbvjfQt1cg
# sha256: 4V_kRHo0llIj4F50ieXTGU6ajwdgPg0fkSj2vsj5UB8
# sha256: zUkjAceIVJcTLsMo6Nc9T4lpOycBIAaMLzkawYp4PeI
# sha256: skUXbxHZcKQXnVOfftFmGg_V0sKpVvvv5Z1jqkAzvDw
# sha256: Z4WXPVEe_UE8hDzezfXcBFI_Zl2rUtYDMprOSj0SwBI
# sha256: oTemN00JJ7Iu21jEvFGk2d32EsR-4bQZxcjL3VAyvh4
# sha256: 8fofJ5K_RyTA30doSFqwm-K3M1xrhRVjR1fBl8eMxUg
# sha256: CvI8fX_fZXyh49a8hzocQC0AIx3nbkV1B_7J8iYv_fE
# sha256: 9C_Yb62wazrjEL0dUOHwY7QP31e7fpoAb7mTcsktWhI
# sha256: rVC-9UD-VRikZTw4IEUqiBtqBCyw-Lt2V8SRxr02VLs
# sha256: zB_sy12U-21n9fnn73w9qOrpXRv8hmroT0UyBo8qvpw
# sha256: NP2uY_RbxSaNue3VyA5Rx5WSYMyJoM7fLlsfkzs0xCc
# sha256: plf7eTph-zc_drIg9lJ21ru8la9H4u8JBwPdFdzFLd8
# sha256: mFYt36dx0eXvlX3fEj6WVbF8Kc-LQDvkT3HmxdS9-pU
# sha256: kjvnRE4xyF2EGW4m6q0QWkwGzGXMqjOioiaAx_IyHtM
# sha256: bIY9qZ9KHT52dkZV6UzGf_zNVjx7kgmagXajkknna1U
# sha256: sJZtyr6y3XovY13_N0pEZbQ0QNNka0y2Z8fe9Y1AvSw
# sha256: ubBHwcrgXiqd3dEtvQArYXd95KG07wXwo15r_iOPmZ4
# sha256: wGhqJuAu7nJJY0CiQ8heuW-IKKMH1SNVb31yE7N9jCM
# sha256: PPakB9GtwEYo25Rgt5qbXk2zmd8XDzKttgcZj_9P_Zo
# sha256: v5pBXe27ks6biWwwxgvb_CZPetEjuvP7TBgD2XUVUTc
# sha256: IOeQ8IUZMCeGKB_lRH9GVSkD7TRw27UUlKHJ7tGJ5zE
# sha256: ACT85XhUej2pJXmhY7rgmx2fC6882OSok9xsEeTmJLs
Pillow==3.0.0
# sha256: zpHFsRKi75MKCWJa29mWgr1i80vhljwo8__A0BOKB_0
# sha256: uyd9yY2qB-iS1Cm3Pu10lBH37_Hub-7xQqGeApWC6M0
sorl-thumbnail==12.3
# sha256: EAFkVWiXwSGfM3BuY6ZWuISNM9CbAWHi3u_MUJeM9i0
# sha256: IDkUT86PG2A9A_paVkNXjfGtAHxO1BphfwKjlD9wWaE
Django==1.7.11
# sha256: BTWn4nAUh0snrjpNM-h0njRb36YnZhlSCLeZa_EQBoI
cssselect==0.9.1
# sha256: AV1uiepPkO_mjIg3AvAKUDzsw82lsCCLCp6J6q_4naM
django-bootstrap-form==3.2
# sha256: aoy0QBER4BG1ecjFKlHNq5cAQcxUOBS72Vd6RSn-HNs
BeautifulSoup==3.2.1
# sha256: RsUeuHi3h-gU7o-XN7CmIREDSutNHAZFCsWo6lpw5gI
pyquery==1.2.9
# sha256: Or5qbT_C-75MYBRCEfRdou2-MYKm9lEa9ru6BZix-ZI
# sha256: k575weEiTZgEBWial__PeCjFbRUXsx1zRkNWwfK3dp4
# sha256: 6tSu-nAHJJ4F5RsBCVcZ1ajdlXYAifVzCqxWmLGTKRg
# sha256: PMoN8IvQ7ZhDI5BJTOPe0AP15mGqRgvnpzS__jWYNgU
# sha256: Pt5HDT0XujwHY436DRBFK8G25a0yYSemW6d-aq6xG-w
# sha256: aMR5ZPcYbuwwaxNilidyK5B5zURH7Z5eyuzU6shMpzQ
# sha256: 3V05kZUKrkCmyB3hV4lC5z1imAjO_FHRLNFXmA5s_Bg
# sha256: p3xSBiwH63x7MFRdvHPjKZW34Rfup1Axe1y1x6RhjxQ
# sha256: ga-a7EvJYKmgEnxIjxh3La5GNGiSM_BvZUQ-exHr61E
# sha256: 4Hmx2txcBiRswbtv4bI6ULHRFz8u3VEE79QLtzoo9AY
# sha256: -9JnRncsJMuTyLl8va1cueRshrvbG52KdD7gDi-x_F0
# sha256: mSZu8wo35Dky3uwrfKc-g8jbw7n_cD7HPsprHa5r7-o
# sha256: i2zhyZOQl4O8luC0806iI7_3pN8skL25xODxrJKGieM
pytz==2015.7
# sha256: wn5AqzzPN_MKn3estJFzcNk0HiWr2o6Uub1IxxJ_fUg
raven==3.4.1
# sha256: O2iaE1r7L9ttoimNUhN4D0Oj8hDPjJYNULJSrLP2KQI
# sha256: VEQZ_V4zMAg13jsvhGKhRd2kUdXjCIpp4M0NorW8D3o
python-memcached==1.57
# sha256: ifGx8l3Ne2j1FOjTQaWy60ZvlgrnVoIuqrSAo8GoHCg
# sha256: hP6NW_Tc3MSQAkRsR6FG0XrBD6zwDZCGZZBkrEO2wls
requests==2.8.1
# sha256: akF58qKszaKyc7_Ybeb3AkzuIDBDzJp8BA_nswa74SA
fancy-tag==0.2.0
# sha256: UvCV-GFHuwtfYjva-VJVLReOu8XqyI2RsvWR09IsO4A
funfactory==2.3.0
# sha256: uhN1-xAk6OkVR1BNQ5IyF5XJif3lALluvHyTiE94bmA
# sha256: PZvJY9gAiuFR1sZk-f1VRCcF6puebXznfN1Av5LZHzo
django-appconf==1.0.1
# sha256: RORjnsBXprap3duGnU46SBj8knjsSQzOOa7whEBZKpM
django-session-csrf==0.5
# sha256: sGqGRRqZ1sJr-mUIKZnb9ljgh-WW6SkszmiLU-q6qto
django-sha2==0.4
# sha256: 1BuH0etCTRi6Lb5zMTHp2HPnCcwR63PaJIw07sHV7W4
django-browserid==0.10.1
# sha256: OxNQQo3tQ4uqhTRD9zfPOTHrRggCTveBe2Dl3bp0nT8
commonware==0.4.2
# sha256: LRy1WDkWc99RCaP-XoT95hYO3IskGz6xmrPTq-m43zE
cef==0.5
# sha256: c2rlPj7EfbuzBJmZwYzlRYWvKZ74gXLZony1_aKdqgA
# sha256: gPnTaQ4NuDDDdq6XFygUjXYN1k1ETRwJJ0fWY6DXL3M
django-nose==1.4.2
# sha256: 2Do6I2EzM_G3FdEna1QBhbwfy2l12E7b_8WX-SONZlk
# sha256: M5Jsd1SCG68taPfJcoBMWEuUxR234uEvBX3GgUdhnk4
django_compressor==1.6
# sha256: xJWo39CpwdPY7QISG7sotsnTTU2jCqk6fmOcDz17Bjk
jingo==0.7.1
# sha256: F3KVsUQkAMks22fo4Y-f9ZRvtEL4WBO50IN4I3IuoI0
django-cronjobs==0.2.3
# sha256: TEiNy4TP_Yi80rFlGWK3Z_m7JFIGQHyOpngEPNOdPKg
django-multidb-router==0.6
# sha256: sTuMGdnDYUP9YU5TXCP9vnsUbLgrjZokbsrLNo4U0t0
tower==0.4.1
# sha256: nwLQNXGE3h8JPBABK1LnRUoQCL5qXBhat6Mwes6x0S4
Babel==1.3
# sha256: pOwa_1m5WhS0XrLiN2GgF56YMZ2lp-t2tW6ozce4ccM
markupsafe==0.23
# sha256: D_eMQD2bzPWkJabTGhKqa0fxwhyk3CVzp-LzKpczXrE
# sha256: EF-NaGFvgkjiS_DpNy7wTTzBAQTxmA9U1Xss5zpa1Wo
six==1.10.0
