<!DOCTYPE html>
<html class="windows no-js" lang="{{ LANG }}" dir="{{ DIR }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block page_title_prefix %}Mozilla — {% endblock %}{% block page_title %}Peekaboo{% endblock %}{% block page_title_suffix %}{% endblock %}</title>

        {% block favicon %}<link rel="shortcut icon" href="{{ static('img/favicon.ico') }}" />{% endblock %}

        {% compress css %}
        <link rel="stylesheet" type="text/less" href="{{ static('sandstone/sandstone-resp.less') }}" media="screen" />
        <link rel="stylesheet" type="text/less" href="{{ static('sheet/css/peekaboo.less') }}" media="screen" />
        {% endcompress %}
        {% block site_css %}{% endblock %}

        {% block extrahead %}{% endblock %}
    </head>
    <body id="sandstone" class="{% block body_class %}stone{% endblock %}"
                         data-config-take-picture="{{ take_picture|js_bool }}"
                         data-config-locations-url="{{ url('sheet:locations') }}">
        <div id="outer-wrapper">
            <div id="wrapper">

                {% block site_header %}
                <header id="masthead">

                    {% block site_header_topnav %}
                    <ul class="topnav">
                        <li><a href="{{ url('sheet:home') }}" class="restart">&laquo; Start Over</a></li>
                        <li><a href="#" class="fullscreen">&laquo; Fullscreen</a></li>
                    </ul>
                    {% endblock %}

                    {% block site_header_logo %}
                    <h2><a href="/"><img src="{{ static('img/sandstone/header-mozilla-stone.png') }}" alt="mozilla"></a></h2>
                    {% endblock %}

                    {% block breadcrumbs %}{% endblock %}

                </header>
                {% endblock %}

                {% block content %}{% endblock %}
                <div class="push"></div>
            </div>

            <footer id="colophon">
              {% block footer %}
              <p class="current-location">
                Current location: <a href="#">No Location Selected</a>
              </p>
              {% endblock %}
            </footer>

        </div>

        {% block site_js %}
          <script src="{{ static('js/libs/jquery-1.9.1.min.js') }}"></script>
          {% compress js %}
            {% block page_js %}{% endblock %}
          {% endcompress %}
        {% endblock %}
    </body>
</html>
