{% extends 'main/main_base.html' %}

{% block extrahead %}
    {% compress css %}
    <link href="{{ static('main/js/libs/magnific-popup.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ static('main/css/log.css') }}" rel="stylesheet" type="text/css">
    {% endcompress %}
{% endblock %}

{% block extrajs %}
    {% compress js %}
    <script src="{{ static('main/js/libs/jquery.timeago.js') }}"></script>
    <script src="{{ static('main/js/libs/moment.min.js') }}"></script>
    <script src="{{ static('main/js/libs/magnific-popup-v0.8.5.min.js') }}"></script>
    <!--<script src="{{ static('main/js/printer.js') }}"></script>-->
    <script src="{{ static('main/js/log.js') }}"></script>
    {% endcompress %}
{% endblock %}

{% block main %}


<div class="modal fade" id="edit-entry">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit entry</h4>
      </div>
      <form action="" method="post" class="form-horizontal">
        <div class="modal-body">
          <p class="picture">
            <img class="img-thumbnail">
          </p>
          <div class="modal-body">
            {{ csrf() }}
            {{ bootstrapform_horizontal(edit_form)|safe }}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="hide" id="delete-entry">
  <form action="" method="post" class="form-horizontal">
    {{ csrf() }}
    <div><input type="hidden" name="id"></div>
  </form>
</div>

<div id="entry-template" style="display:none">
  <div class="entry">
  <time class="timeago jstime" data-format="ddd, MMM D, YYYY, h:mma UTCZZ"></time>
  <h4>
    <span class="name"></span>
    <small class="job_title"></small>
  </h4>

  <div class="buttons">
  <button class="btn btn-default btn-sm print" name="print">Print</button>
  <button class="btn btn-default btn-sm edit" name="edit">Edit</button>
  <button class="btn btn-default btn-sm delete" name="delete">Delete</button>
    <div class="delete-confirmation">
      <b>Sure?</b>
      <button class="btn btn-sm btn-danger delete-confirm">Yes</button>
      <button class="btn btn-sm btn-default delete-cancel">Cancel</button>
    </div>
  </div>


  <a href="#" title="Bigger picture"><img src="javascript:void(0)"></a>
  <dl class="dl-horizontal">
    <dt>Company:</dt>
    <dd class="company"></dd>

    <dt>Visiting:</dt>
    <dd class="visiting"></dd>
  </dl>
  <div class="clear">&nbsp;</div>
  </div>
</div>

<p id="auto-refresh-stopped" class="auto-refresh">Auto-refresh is currently not working.</p>
<p id="auto-refresh-enabled" class="auto-refresh">
  <abbr title="Meaning it automatically fetches new entries here on this page.">Auto-refresh <b>on</b></abbr>.
</p>

<div id="entries">

</div>

{% endblock %}
