<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Peek-a-boo!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% compress css %}
    <link href="{{ static('main/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ static('main/css/main.css') }}" rel="stylesheet" type="text/css">
    {% endcompress %}

    <link rel="shortcut icon" href="{{ static('main/images/favicon.ico') }}">
    {% block extrahead %}
    {% endblock %}
  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <h3 class="muted">Peek-a-boo!</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li><a href="{{ url('main.home') }}">Home</a></li>
                <li><a href="{{ url('main.tablet') }}">Sign-in Sheet</a></li>
                <li><a href="{{ url('main.log') }}">Log</a></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>

      {% block pre_main %}
      {% endblock %}

      <!-- Example row of columns -->
      <div class="row-fluid">
      {% block main %}
      {% endblock %}
      </div>

      <hr>

      <div class="footer">
        <p>&copy; Mozilla</p>
      </div>

    </div> <!-- /container -->
    <script src="{{ static('main/js/libs/jquery-1.9.1.min.js') }}"></script>
    <script src="{{ static('main/js/main.js') }}"></script>
    {% block extrajs %}
    {% endblock %}
  </body>
</html>
