<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block page_title %}Peek-a-boo!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% compress css %}
    <link href="{{ static('main/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ static('main/css/main.css') }}" rel="stylesheet" type="text/css">
    <style>
    .navbar-static-top {
      margin-bottom: 19px;
    }
    </style>
    {% endcompress %}

    <link rel="shortcut icon" href="{{ static('img/favicon.ico') }}">

    {% block extrahead %}
    {% endblock %}
  </head>
 <body>
    {% include "main/_main_navbar.html" %}

    <div class="container">

      {% for message in messages %}
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
      {% endfor %}

      {% block pre_main %}
      {% endblock %}

      {% block main %}
      {% endblock %}

      {% include "main/_ajax_error_modal.html" %}

    </div> <!-- /container -->

    <script src="{{ static('js/libs/jquery-1.9.1.min.js') }}"></script>
    <script src="{{ static('main/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ static('main/js/main.js') }}"></script>
    {% block extrajs %}
    {% endblock %}
  </body>
</html>
