<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Peek-a-boo!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% compress css %}
    <link href="{{ static('main/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ static('main/css/main.css') }}" rel="stylesheet" type="text/css">
    {% endcompress %}

    <link rel="shortcut icon" href="{{ static('main/images/favicon.ico') }}">
    {% block extrahead %}
    {% endblock %}
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Peek-a-boo!</a>
          <div class="nav-collapse collapse">
            {% if user.is_authenticated() %}
            <p class="navbar-text pull-right">
              Logged in as <b>{{ user.first_name or user.email or user.username }}</b>
              <small>(<a href="{{ url('auth:logout') }}">Log out</a>)</small>
            </p>
            <ul class="nav">
                <li><a href="{{ url('main:home') }}">Home</a></li>
                <li><a href="{{ url('sheet:home') }}">Sign-in Sheet</a></li>
                <li class="dropdown">
		    <a href="{% if current_location %}{{ url('main:log', current_location.slug) }}{% else %}{{ url('main:log_start') }}{% endif %}"
		       class="dropdown-toggle" data-toggle="dropdown">Log <b class="caret"></b></a>
		    <ul class="dropdown-menu">
		        {% for location in all_locations %}
		        <li><a href="{{ url('main:log', location.slug) }}">{{ location.name }}</a></li>
			{% endfor %}
                        {% if current_location %}
                        <li class="divider"></li>
		        <li><a href="{{ url('main:log_start') }}">Change default location</a></li>
                        {% endif %}

		    </ul>
		</li>
            </ul>
            {% else %}
            <p class="navbar-text pull-right">
              <a href="{{ url('auth:login') }}">Log in</a>
            </p>
            {% endif %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">

      {% block pre_main %}
      {% endblock %}

      <!-- Example row of columns -->
      <div class="row-fluid">
      {% block main %}
      {% endblock %}
      </div>

      <div id="ajax-error-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3></h3>
        </div>
        <div class="modal-body">
          <p class="description"></p>
	</div>
	<div class="modal-footer">
    	  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      </div>

      <div class="footer">
        <p>&copy; Mozilla</p>
      </div>

    </div> <!-- /container -->
    <script src="{{ static('js/libs/jquery-1.9.1.min.js') }}"></script>
    <script src="{{ static('main/js/main.js') }}"></script>
    {% block extrajs %}
    {% endblock %}
  </body>
</html>
