{% extends 'main/main_base.html' %}

{% block extrajs %}
    {% compress js %}
    <script src="{{ static('main/js/stats.js') }}"></script>
    {% endcompress %}
{% endblock %}

{% block main %}

<h3>Stats for
  {% if location %}
    {{ location.name }}
  {% else %}
    All locations
  {% endif %}
</h3>

<ul id="tabs" class="nav nav-tabs nav-justified">
  <li class="active"><a href="#condensed">Condensed</a></li>
  <li><a href="#expanded">Expanded</a></li>
</ul>

<table id="stats-collapsed" class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Year</th>
      <th>Month</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
  {% for row in months %}
  <tr>
    <td>{% if row['year'] != previous_year %}{{ row.year }}{% endif %}</td>
    <td>{{ row.date.strftime('%B') }}</td>
    <td>{{ row.count }}</td>
  </tr>
  {% set previous_year=row['year'] %}
  {% endfor %}
  </tbody>
</table>

<table style="display:none" id="stats-expanded" class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Year</th>
      <th>Month</th>
      <th>Day</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
  {% for row in rows %}
  <tr>
    <td>{% if row['year'] != previous_year %}{{ row.year }}{% endif %}</td>
    <td>{% if row['month'] != previous_month %}{{ row.date.strftime('%B') }}{% endif %}</td>
    <td>{{ row.date.strftime('%A') }} {{ row.day }}</td>
    <td>{{ row.count }}</td>
  </tr>
  {% set previous_year=row['year'] %}
  {% set previous_month=row['month'] %}
  {% endfor %}
  </tbody>
</table>


<small>
  Initially Peek-a-boo used to not tally visitor counts <b>per location</b>.
  This was changed on 2014-05-19.
</small>


{% endblock %}
