{% if form.non_field_errors() %}
    <div class="alert alert-error">
        <a class="close" data-dismiss="alert">&times;</a></a>
        {% for non_field_error in form.non_field_errors() %}
             {{ non_field_error }}
        {% endfor %}
    </div>
{% endif %}

{% for field in form.hidden_fields() %}
    {{ field }}
{% endfor %}

<fieldset>
    <label for="id_title">Title</label>
    <div class="controls">
        {{ form.title }}
    </div>

    <label for="id_first_name">First Name</label>
    <div class="controls">
        {{ form.first_name }}
    </div>

    <label for="id_last_name">Last Name</label>
    <div class="controls">
        {{ form.last_name }}
    </div>
</fieldset>

<fieldset>
    <label for="id_email">Email</label>
    <div class="controls">
        {{ form.email }}
    </div>

    <label for="id_company">Company</label>
    <div class="controls">
        {{ form.company }}
    </div>

    <label for="id_visiting">Visiting</label>
    <div class="controls">
        {{ form.visiting }}
    </div>
</fieldset>
