@import "mixins.less";

/* apply a natural box layout model to all elements */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
}
#main-content {
    padding-bottom: 0;
}
#outer-wrapper {
    min-height: 100%;
}
.topnav {
    position: absolute;
    top: 20px;
    left: 85%;
    width: 250px;
    font-size: 16px;
    li {
        display: inline;
        list-style: none;
    }
}
#signin {
    h2 {
        margin-bottom: 20px;
    }
}
#picture {
    h4,
    input {
        margin: 15px 0;
    }
}
#thankyou {
    text-align: center;
}
.yourname {
    font-size: 36px;
}
.restart {
    display: none;
}
.thumbnail {
    border: 5px solid #333;
}
.skip {
    margin-top: 15px;
}
.reset {
    display: block;
    margin-top: 10px;
}
#loading {
    display: none;
    position: absolute;
    top: 50%;
    left: 45%;
    z-index: 9;
}
#location,
#signin,
#picture,
#thankyou {
    position: relative;
    left: -1760px;
    width: 0;
    height: 0;
    opacity: 0;
    transition: left 400ms,
                opacity 400ms,
                width 400ms;
}
#location:target,
#signin:target,
#picture:target,
#thankyou:target {
    top: 0;
    left: 15%;
    width: 650px;
    height: auto;
    opacity: 1;
}
/* Form styles */
form {
    width: 800px;
    fieldset {
        border: 0;
    }
    fieldset:nth-of-type(odd) {
        float: left;
    }
    fieldset:nth-of-type(even) {
        float: right;
    }
    /*http://developer.yahoo.com/blogs/ydn/posts/2012/10/clip-your-hidden-content-for-better-accessibility/*/
    label {
        position: absolute;
        clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
        padding:0;
        border:0;
        height: 1px;
        width: 1px;
        overflow: hidden;
    }
    input[type="email"],
    input[type="password"],
    input[type="text"] {
        width: 350px;
        height: 40px;
        font-size: 1.2rem;
    }
    .button {
        min-width: 110px;
    }
}
.photobooth {
    display: none;
    border: 1px solid black;
    width: 640px;
    height: 480px;
}
.signin_form {
    .signin_buttons {
        float: right;
    }
    .rightmost {
        margin-right: 0;
        font-size: 12px;
    }
}
#colophon {
    position: absolute;
    background-color: rgb(39, 97, 149);
    color: #fff;
    bottom: 0;
    left: 0;
    padding: 5px 5px 5px 10px;
    height: 40px;
    width: 100%;
    font-size: 16px;
    a:link,
    a:visited,
    a:hover {
        color: #fff;
    }
}
.flash {
    z-index: 1000;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#fff;
    -moz-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
 }
 .fadeout {
   opacity: 0;
 }
 .xpreview {
    position: absolute;
    top: 0;
    left: 400px;
    padding: 10px;
    width: 400px;
    img {
        margin-bottom: 10px;
        border: 7px solid #333;
    }
}
 .uploading,
.preview,
.error,
.thumbnail {
    display: none;
}
